.header
  .header__bar
    .header__bar__title
      = link_to root_path, class:"Happytravel" do
        Happytravel
    .header__bar__link-hotel
      = link_to "https://www.tour.ne.jp/w_hotel/", class:"hotel" do
        ホテル
    .header__bar__link-chcket
      = link_to "https://www.tour.ne.jp/w_air/", class:"chcket" do
        航空券
    .header__bar__link-tour
      = link_to "https://www.tour.ne.jp/w_tour/", class:"tour" do
        ツアー
    .header__bar__link-username
      = link_to "#", class:"name" do
        ユーザー名
    .header__bar__link-logout
      = link_to "#", class:"logout" do
        ログアウト