.main
  .main__box
    .main__box__content
      🌈人気海外旅行先 👑総合ランキングTOP10👑
    .rank-box1
      .rank-box1__1
        .rank1
          👑１位：ソウル/韓国
          .rank1__image
          .rank1__text
            日本から約2時間半で行けるソウル。
            一番身近な外国であるお隣の国・韓国は、
            美容やコスメでは日本を抜いて世界でも有数の国となっています。
            その首都ソウルには、2か所の世界遺産をはじめ、
            素敵なおすすめスポットや美味しいグルメが盛りだくさん！！
          .r1-summary
            = link_to 'soul_messages/new', class: "summarry-soul" do
              ソウルのまとめはこちらをクリック👈
      .rank-box1__2
        .rank2
          👑２位：グアム
          .rank2__image
          .rank2__text
            日本からのアクセスがよく、手軽に極上リゾートを堪能できるグアム。
            時差もないため、短い滞在でも目いっぱい楽しむことができます。
            観光地化が進んでいるため、商業施設やレストランも充実しており、
            ホテルステイの快適さも抜群です。日本語が通じるお店も多いので、
            海外旅行が初めてという方や小さなお子様がいるファミリーにもおすすめです！
          .r2-summary
            = link_to 'guam_messages', class: "summarry-guam" do
              グアムのまとめはこちらをクリック👈
    .rank-box2
      .rank-box2__3
        .rank3
          👑３位：台北/台湾
          .rank3__image
          .rank3__text
            台湾の中心地である台北は、近代的なビルが林立する大都会でありながら、
            すぐそばに市場や露店が並ぶ路地が隣接する懐深い都市。
            レトロな建物が並ぶ情緒あふれるエリアもあり、龍山寺のように歴史的な寺院もあり、
            郊外には自然豊かな国家公園や温泉地も。
            新旧が心地がよく交じり合い、目的や気分に合わせて多様な楽しみ方ができます！
          .r3-summary
            = link_to 'taipei_messages', class: "summarry-taipei" do
              台湾のまとめはこちらをクリック👈
      .rank-box2__4
        .rank4
          👑４位：ホノルル/ハワイ
          .rank4__image
          .rank4__text
            世界有数のリゾートエリアであるワイキキをはじめ、高層ビルが建ち並ぶダウンタウン、
            一大ショッピングセンターのあるアラモアナ、ウオールアートやおしゃれな店が盛りだくさん！！
            青い海、白い砂浜、おいしいハワイアングルメ。語り始めたら尽きることのないほど多くの魅力がつまったハワイは、
            世界中からの観光客で賑わう人気の旅先です。
          .r4-summary
            = link_to 'hawai_messages', class: "summarry-hawai" do
              ハワイのまとめはこちらをクリック👈
    .rank-box3
      .rank-box3__5
        .rank5
          👑５位：香港
          .rank5__image
          .rank5__text
            貿易、金融におけるアジアの中心都市。
            ショッピングとグルメの街、中国返還以後もその魅力は更にパワーアップしている。
            世界中から有名ブランドのフラッグショップが集まり、レトロチャイナ、
            ストリートマーケットなど、見所がたくさんあリマス！
          .r5-summary
            = link_to 'hongkong_messages', class: "summarry-hongkong" do
              香港のまとめはこちらをクリック👈
      .rank-box3__6
        .rank6
          👑６位：バリ島
          .rank6__image
          .rank6__text
            直行便も就航し人気急上昇中の観光地・バリ島。海も川も山も自然の美しい景色、
            バリ島ヒンドゥー教の伝統文化、観光地化が進む中にも確かに残されているのどかな街並みなど、
            どこをとっても魅力的なバリ島はオプショナルツアーが豊富に組まれるなどリピーターもとても多い人気観光地で、
            その見どころは尽きません！！
          .r6-summary
            = link_to 'bali_messages', class: "summarry-bali" do
              バリ島のまとめはこちらをクリック👈
    .rank-box4
      .rank-box4__7
        .rank7
          👑７位：バンコク/タイ
          .rank7__image
          .rank7__text
            物価が安く治安も悪くないことから世界中の旅行者が訪れるタイの首都・バンコク。
            高層ビルが建ち並ぶなか、いかにもタイらしいきらびやかな金色の寺院が点在し、独特の景観をつくっている。
            街には人と車と屋台があふれる、東南アジアで最も活気のある街のひとつです！
          .r7-summary
            = link_to 'bankoku_messages', class: "summarry-bankoku" do
              バンコクのまとめはこちらをクリック👈
      .rank-box4__8
        .rank8
          👑８位：セブ/フィリピン
          .rank8__image
          .rank8__text
            フィリピンには離島が数多くありますが、その中でもリゾート地として人気があるのがセブ島。
            周囲をマクタン島、バンダヤン島などに囲まれているのが特徴。
            マーケットやショッピングモールもセブ島では人気のスポット！
            そしてリゾート地でのレジャーは、お隣のマクタン島のほうで楽しめます！！！！
            セブ島とマクタン島は橋でつながっているので、簡単に行き来できるのもうれしいところ。
          .r8-summary
            = link_to 'sebu_messages', class: "summarry-sebu" do
              セブ島のまとめはこちらをクリック👈
    .rank-box5
      .rank-box5__9
        .rank9
          👑９位：シンガポール
          .rank9__image
          .rank9__text
            マリーナベイサンズやナイトサファリなどの世界基準のアトラクションの他、
            セントーサ島のようなリゾートや歴史的な建築物など、見どころが多い。
            また、様々な人種が集まった国のため、文化・食も多様性があり、一つの国で様々なグルメも楽しめます！
          .r9-summary
            = link_to 'singapaul_messages', class: "summarry-singapaul" do
              シンガポールのまとめはこちらをクリック👈
      .rank-box5__10
        .rank10
          👑10位：釜山(プサン)/韓国
          .rank10__image
          .rank10__text
            東京から直行便で約2時間半で行けるプサンは韓国随一のリゾート地。
            居酒屋からカジノまで夜遊びスポットも充実し、短いステイでもたっぷり楽しめます！
            映画のロケ地にもなったプサン一のマーケット「国際市場」などもあり、見所満載です！！
          .r10-summary
            = link_to 'pusan_messages', class: "summarry-pusan" do
              プサンのまとめはこちらをクリック👈